extend ..\layout

block content
    
    table.table.table-sm.table-hover
        thead.thead-light
            tr
                th Name
                th Category
                th Price
                th Stock Count
        tbody
            
