a {
  color: #00B7FF;
}

.page-header {
  margin: 1rem 0;
  font-size: 2rem;
}

.card {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.card-img {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  margin: auto 0;
}
